body.page-file-add-usatsi,
body.page-file-add-usatsi #page {
    background: #000;
    color: #FFF;
}


#media-usatsi-tab {
    background: #a6a7a2 url(../si-logo-2x-black.png) no-repeat center;
    background-position-y: 2px;
    background-size: 65%;
    overflow: hidden;
    text-indent: -1000px;
    width: 150px;
    cursor: pointer;
    border-color: #c9cac4;
}

#media-usatsi-tab.active,
#media-usatsi-tab:hover {
    background-image: url(../si-logo-2x.png);
    background-color: #0c0c0c;
}


form#media-usatsi-external input.form-text {
    width: 98%;
    height: 32px;
    padding: 0 0 0 9px;
    background: transparent;
    border: 1px solid #666;
    color: #FFF;
    font-size: 120%;
    display: block;
    outline: none;
    border-radius: 3px;
}

form#media-usatsi-external textarea.form-textarea,
form#media-usatsi-external select.form-select {
    background: #000;
    color: #FFF;
    border-radius: 3px;
}

form#media-usatsi-external select.form-select {
    height: 26px;
}

form#media-usatsi-external .form-item-external-image, form#media-usatsi-external input#edit-search {
    background: #000;
    height: 36px;
    box-sizing: border-box;

}

form#media-usatsi-external input#edit-search {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: #666;
    margin: 0;
    border: 0;
    cursor: pointer;
}


