form#media-usatsi-external .form-item-external-image,
form#media-usatsi-external input#edit-search {
  display: inline-block;
}

#usatsi-output .media-list-thumbnails li {
  float: none;
  display: inline-block;
}

#usatsi-output li .label-wrapper a {
  padding: 15px 0;
}

#usatsi-output ul li .media-thumbnail {
  position: relative;
  cursor: pointer;
  background: #000;
}

#usatsi-output ul li .media-thumbnail img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

#usatsi-output .media-item img {
  display: inline-block;
}

#usatsi-output .media-list-thumbnails li {
  height: 365px;
  padding: 10px;
  display: inline-block;
  background: #191919;
  border: 1px solid #232323;
  border-radius: 4px;
  vertical-align: bottom;
  margin: 5px 5px 15px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

#usatsi-output .media-item {
  height: 225px;
  width: 270px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
  display: table-cell;
  text-align: center;
  border: none;
  background: #000;
  padding: 10px;
  color: #FFF;
}

#usatsi-output .media-item .label-wrapper {
  background: none;
  position: inherit;
  color: #CCC;
}


ul.primary li.active a, ul.primary li.active a.active, ul.primary li.active a:active, ul.primary li.active a:visited {
  background-color: #000;
  border-color: #c9cac4;
}




