body.page-file-add-usatsi,
body.page-file-add-usatsi #page {
    background: #000;
    color: #FFF;
}


a[href="/file/add/usatsi"],
#media-usatsi-tab {
    background: #a6a7a2 url(../images/si-logo-2x-black.png) no-repeat center;
    background-position-y: 2px;
    background-size: 65%;
    text-indent: -1000px;
    width: 150px;
    cursor: pointer;
    border-color: #c9cac4;
    font-size: 0;
    color: transparent;
    height: 30px;
}

a[href="/file/add/usatsi"]:hover,
#overlay-tabs li a[href="/file/add/usatsi"]:hover,
.ui-state-active #media-usatsi-tab,
#media-usatsi-tab.active,
#media-usatsi-tab:hover {
    background-image: url(../images/si-logo-2x.png);
    background-color: #000;
    background-repeat: no-repeat;
}

#media-tab-usatsi {
    background: #000;
}


form#media-usatsi-external input.form-text {
    width: 98%;
    height: 32px;
    padding: 0 0 0 9px;
    background: transparent;
    border: 1px solid #666;
    color: #FFF;
    font-size: 120%;
    display: block;
    outline: none;
    border-radius: 3px;
}

form#media-usatsi-external textarea.form-textarea,
form#media-usatsi-external select.form-select {
    background: #000;
    color: #FFF;
    border-radius: 3px;
}

form#media-usatsi-external select.form-select {
    height: 26px;
}

form#media-usatsi-external .form-item-external-image, form#media-usatsi-external input#edit-search {
    background: #000;
    height: 36px;
    box-sizing: border-box;

}

form#media-usatsi-external input#edit-search {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: #666;
    margin: 0;
    border: 0;
    cursor: pointer;
}


#media-usatsi-external ul.simple-pagination {
    list-style: none;
}

#media-usatsi-external .simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}

#media-usatsi-external .simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#media-usatsi-external .simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
#media-usatsi-external span.ellipse.clickable {
    cursor: pointer;
}

#media-usatsi-external .ellipse input {
    width: 3em;
}

/*------------------------------------*\
	Compact Theme Styles
\*------------------------------------*/
#media-usatsi-external .compact-theme span {
    cursor:pointer;
}

#media-usatsi-external .compact-theme a,
#media-usatsi-external .compact-theme span {
    float: left;
    color: #333;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #AAA;
    border-left: none;
    min-width: 14px;
    padding: 0 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

#media-usatsi-external .compact-theme a:hover,
#media-usatsi-external .compact-theme li:not(.disabled):not(.active) span:hover {
    text-decoration: none;
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* IE10+ */
    background: linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* W3C */
}

#media-usatsi-external .compact-theme li:first-child a,
#media-usatsi-external .compact-theme li:first-child span {
    border-left: 1px solid #AAA;
    border-radius: 3px 0 0 3px;
}

#media-usatsi-external .compact-theme li:last-child a,
#media-usatsi-external .compact-theme li:last-child span {
    border-radius: 0 3px 3px 0;
}

#media-usatsi-external .compact-theme .current {
    background: #bbbbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* W3C */
    cursor: default;
}

#media-usatsi-external .compact-theme .ellipse {
    background: #EAEAEA;
    padding: 0 10px;
    cursor: default;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
#media-usatsi-external .light-theme span {
    cursor:pointer;
}

#media-usatsi-external .light-theme a, .light-theme span {
    float: left;
    color: #666;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

#media-usatsi-external .light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
    text-decoration: none;
    background: #FCFCFC;
}

#media-usatsi-external .light-theme .current {
    background: #666;
    color: #FFF;
    border-color: #444;
    box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

#media-usatsi-external .light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

/*------------------------------------*\
	Dark Theme Styles
\*------------------------------------*/
#media-usatsi-external .dark-theme span {
    cursor:pointer;
}

#media-usatsi-external .dark-theme a,
#media-usatsi-external .dark-theme span {
    float: left;
    color: #CCC;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #222;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #555; /* Old browsers */
    background: -moz-linear-gradient(top, #555 0%, #333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #555 0%,#333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #555 0%,#333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #555 0%,#333 100%); /* IE10+ */
    background: linear-gradient(top, #555 0%,#333 100%); /* W3C */
}

#media-usatsi-external .dark-theme a:hover,
#media-usatsi-external .dark-theme li:not(.disabled):not(.active) span:hover {
    text-decoration: none;
    background: #444;
}

#media-usatsi-external .dark-theme .current {
    background: #222;
    color: #FFF;
    border-color: #000;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    cursor: default;
}

#media-usatsi-external .dark-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}


#media-usatsi-external .media-usatsi-pagination,
#media-usatsi-external .media-usatsi-pagination-btm {
    padding: 30px;
    text-align: center;
}

/* simple p overrides */
#media-usatsi-external .simple-pagination ul {
    margin: 0 auto;
    display: inline-block;
}

#media-usatsi-external .light-theme .current {
    box-shadow: none;
}

#media-usatsi-external .ajax-progress-throbber .throbber {
    background: transparent url('../images/si-loader-75x75.gif') no-repeat;
    background-size: 100%;

}

#media-usatsi-external .on-hover-content {
    position: absolute;
    top: 0;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    width: 430px;
    text-align: center;
    display: none;
    z-index: 999999;
}

#media-usatsi-external .on-hover-content img {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

#media-usatsi-external .on-hover-content {
    text-align: left;
    overflow: hidden;
}

#media-usatsi-external .on-hover-content .label-title {
    font-weight: bold;
    font-size: 14px;
}

#media-usatsi-external .on-hover-content .label-caption {
     color: #f2f2f2;
}

#media-usatsi-external .on-hover-content .label-credit {
    color: #666;
}

img.usatsi {
    cursor: pointer;
}

#media-usatsi-external .media-usatsi-thumbnail {
    width: 100px;
    height: auto;
}

#usatsi-output p { color: #FFF; }